body{
    background-color: rgb(255, 208, 228);
}

.container, ul{
    background-color: rgb(60, 60, 60);
    padding: 0.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
    
li{
    list-style: none;
    margin-right: 1rem;
}

a:link{
    text-decoration: none;
    color: rgb(218, 100, 194);
    text-transform: uppercase;
}

section{
    text-align: center;
    text-wrap: balance;
}